.catalog-item {
  width: 50%;
  margin-top: 2%;
}

.catalog-image {
  width: 100%;
}

.center {
  justify-content: center;
}

.body-bg {
<<<<<<< HEAD
  background-image: url("static/images/bg.jpg");
=======
  background-image: url("static/bg.jpg");
>>>>>>> b1f69a0dda82bd4088839370fe418e6525ea0a10
  background-size: cover;
  background-attachment: fixed;
}
