.catalog-item {
  width: 50%;
  margin-top: 2%;
}

.catalog-image {
  width: 100%;
}

.catalog-image:hover {
  box-shadow: 2px 2px 8px 8px rgba(173, 216, 230, 0.692),
    2px 2px 2px 2px black inset;
}

.center {
  justify-content: center;
}

.nb-bg {
  background-color: lightskyblue;
}

.body-bg {
  background-image: url("/static/images/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.footer {
  background-image: url("/static/images/corefooter.png");
  background-size: inherit;
}
