@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
   Utilities that Rich created go here:
   vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */

.spacer {
  height: 2em;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^
   Home Page Stuff Goes Here
   vvvvvvvvvvvvvvvvvvvvvvvvv */

* {
  margin: 0;
  padding: 0;
}

.body {
  background-image: url("static/images/placeholder.jpeg");
}

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-logo {
  max-width: 110px;
  margin-left: 75%;
}

.logo {
  max-height: 125px;
  max-width: 175px;
}

.center-piece {
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: fixed;
}

.home-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.home-piece {
  border-style: dotted;
  border-radius: 25%;
  background-color: rgba(175, 202, 226, 0.76);
  height: 70%;
  width: 60%;
  display: flex;
  flex-direction: column;
  text-shadow: 2px 2px 8px white;
  justify-content: center;
  align-items: center;
}

.home-logo {
  padding: 1em;
  height: 18em;
  width: 25em;
}

.home-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: space-evenly;
  color: rgb(0, 0, 0);
  font-family: "Patua One";
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
}

.hot {
  border-radius: 25%;
  padding: 2%;
  margin: 1%;
  border-style: dotted;
  font-size: 2.5em;
  background-color: rgba(175, 202, 226, 0.582);
  text-decoration: none;
  color: rgb(0, 0, 0);
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 2px;
}

.hot:hover {
  text-shadow: 2px 2px 8px rgb(32, 119, 218);
  background-color: cornflowerblue;
}

.contract-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 2%;
  width: 70%;
  text-align: center;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^
   Browse Page Stuff Goes Here
   vvvvvvvvvvvvvvvvvvvvvvvvvvv*/

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  border-bottom-style: dotted;
  background-color: rgba(175, 202, 226, 0.76);
}

.nav-tabs {
  display: flex;
  flex-direction: row;
  width: 55%;
  margin-right: 2%;
  justify-content: space-around;
}

.nav-tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-right-style: dotted;
  border-left-style: dotted;
  border-radius: 15%;
  color: black;
  padding: 3.2%;
  font-size: 2em;
  text-shadow: 2px 2px white;
}

.nav-tab:hover {
  background-color: rgba(27, 202, 255, 0.63);
}

.nav-tab-active {
  background-color: white;
}

.category-sec {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2%;
}

.category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  margin-top: 2em;
  border-style: dotted;
  background-color: rgba(175, 202, 226, 0.582);
  border-radius: 20%;
  width: 42%;
}

.cat-header {
  font-size: 3em;
  font-family: "Patua One";
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
}

.cat-text {
  font-size: 2.5em;
  font-family: "Patua One";
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
}

.cat-hot {
  border-radius: 25%;
  padding: 1%;
  border: dotted;
  max-width: 20%;
  background-color: rgba(255, 255, 255, 0.281);
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 2em;
  font-family: "Patua One";
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
}

.cat-hot:hover {
  background-color: rgba(27, 202, 255, 0.63);
}

.icon {
  font-size: 37px;
  text-align: end;
  margin-right: 0.7em;
  position: absolute;
  text-decoration: none;
  right: 0;
  top: 17px;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* This here will be for item cards */
/* VvVvVvVvVvVvVvVvVvVvVvVvVvVvVvVv */

.absolute {
  position: absolute;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-style: dotted;
  background-color: rgba(175, 202, 226, 0.76);
  border-radius: 20%;
  width: 43%;
}

.item-card:hover {
  background-color: rgba(100, 148, 237, 0.558);
}

.image {
  display: block;
  border-radius: 15%;
  width: 80%;
  height: 23em;
  padding: 30px 60px 30px;
}

.card-info {
  font-family: patua one;
  text-decoration: none;
  color: rgb(0, 0, 0);
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^  */
/* About page stuff goes here!  */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvv  */

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  border-style: dotted;
  border-radius: 15%;
  background-color: rgba(175, 202, 226, 0.76);
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.5px;
  padding: 2%;
  padding-bottom: 10%;
  max-width: 85vw;
  margin: 4em;
}

.about-cover {
  border-radius: 15%;
  max-width: 50%;
}

.about {
  display: flex;
  flex-direction: row;
}

.about-img {
  max-width: 35%;
  border-radius: 15%;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.about-info {
  font-size: 0.85em;
  padding-left: 1em;
  padding-right: 1em;
}

.profile-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.about-text {
  font-family: "Patua One";
  font-size: 2em;
  text-align: center;
}

.category-text {
  font-family: "Patua One";
  font-size: 2em;
  text-align: center;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.8px;
  padding-top: 1em;
}

.category-text-1 {
  font-size: 3em;
  padding-bottom: 0.5em;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(175, 202, 226, 0.719);
  border-top-style: dotted;
  padding: 1%;
  bottom: 0;
  align-items: center;
  text-align: center;
}

.home-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  bottom: 10%;
  font-family: "patua one";
  font-size: 3em;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^  */
/* Testimonial stuff goes here!  */
/* vvvvvvvvvvvvvvvvvvvvvvvvvvvv  */

.testimonials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.testimony {
  display: flex;
  flex-direction: column;
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-style: dotted;
  background-color: rgba(175, 202, 226, 0.76);
  border-radius: 20%;
  width: 43%;
  justify-content: space-evenly;
  align-items: center;
  padding: 1%;
}

.t-info {
  text-align: center;
  font-family: "patua one";
  font-size: 2em;
  padding: 5%;
  color: rgb(0, 0, 0);
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 1px;
}

.t-author {
  font-family: "patua one";
  font-size: 1.5em;
  color: rgb(0, 0, 0);
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.75px;
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^ */
/* Mobile stuff goes here!  */
/* vvvvvvvvvvvvvvvvvvvvvvvv */

@media only screen and (max-width: 2560px) and (min-width: 1445px) {
  .hot {
    width: 22%;
    text-align: center;
  }

  .home-logo {
    width: 32em;
    height: 24em;
  }

  .about-info {
    font-size: 1.2em;
  }

  .category-sec {
    height: 70vh;
  }
}

@media only screen and (max-width: 1200px) {
  .card-info {
    font-size: 175%;
  }

  .center-piece {
    height: 100%;
    width: 100%;
  }

  .testimony {
    width: 90vw;
  }

  .footer {
    width: 100%;
  }

  .footer-info {
    font-size: 65%;
  }

  .logo {
    max-width: 6em;
  }

  .category {
    width: 80vw;
  }

  .cat-header {
    font-size: 250%;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
  }

  .cat-hot {
    max-width: 100%;
    padding: 0.2em;
    text-align: center;
  }

  .container {
    border-radius: 10%;
  }

  .about-cover {
    max-width: 80%;
  }

  .about {
    flex-direction: column;
    align-items: center;
  }

  .about-text {
    font-size: 150%;
  }

  .about-img {
    max-width: 80%;
  }

  .nav-tabs {
    flex-direction: column;
    margin-right: 38px;
    margin-bottom: 2em;
  }

  .nav-tab {
    width: 5em;
    text-align: center;
    border: dotted;
    margin-top: 1em;
  }

  .nav-logo {
    margin-left: 30px;
  }
  .home-piece {
    width: 90vw;
    height: 90vh;
  }

  .home-logo {
    max-width: 90%;
    height: 45%;
  }

  .home-options {
    flex-direction: column;
    align-items: center;
  }

  .hot {
    text-align: center;
    justify-content: center;
    width: 70%;
    padding: 0.75%;
  }

  .item-card {
    width: 90vw;
  }

  .contract-info {
    padding-bottom: 2%;
  }
}

@media screen and (max-width: 1200px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
    color: black;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.8px;
  }
}
.navbar .icon {
  display: none;
}
@media screen and (max-width: 1200px) {
  .navbar.responsive {
    position: relative;
    /* height: 325px !important; */
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 20px;
  }
  .navbar.responsive a {
    float: none;
    display: block !important;
    text-align: center;
  }
}
