{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/core_logo.png'%}"/>
    <title>About Us</title>
  </head>
  <body>
    <div class="row">
      <img
        class="center-piece"
        src="{% static 'images/AboutBG.jpg' %}"
        alt=""
      />
    </div>
    <div class="page absolute">
      <div class="navbar" id="myTopnav">
        <div>
          <img
            class="nav-logo"
            src="{% static 'images/core_logo.png'%}"
            alt=""
          />
        </div>
        <div class="nav-tabs">
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
          <a class="nav-tab" href="{% url 'home' %}">Home</a>
          <a class="nav-tab nav-tab-active" href="{% url 'about' %}">About</a>
          <a class="nav-tab" href="{% url 'testimonials' %}"> Testimonials </a>
          <a class="nav-tab" href="{% url 'browse' %}">Browse</a>
        </div>
      </div>

      <div class="wrapper">
        <div class="container">
          <div class="about-text">
            <h1>About Us</h1>
          </div>
          <div class="spacer"></div>
          <div class="profile-container">
            <img
              class="about-cover"
              src="{% static 'images/sign.jpeg'%}"
              alt=""
            />
          </div>
          <div class="spacer"></div>
          <div class="about-text">
            <h2>Company Story</h2>
            <p>{{about.company}}</p>
            <div class="spacer"></div>
            <h2>About The Founders</h2>
            <div class="spacer"></div>
            <div class="about">
              <img
                class="about-img"
                src="{% static 'images/Matt.png' %}"
                alt=""
              />
              <p class="about-info">{{about.matt}}</p>
            </div>
            <div class="spacer"></div>
            <div class="about">
              <p class="about-info">{{about.bryan}}</p>
              <img
                class="about-img"
                src="{% static 'images/Bryan.png' %}"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      <div class="footer">
        <img class="logo" src="{% static 'images/core_logo.png'%}" alt="" />
        <div>
          <h1>Contact Us!</h1>
          <p>-------------</p>
          <h3>{{footer.address}}</h3>
          <h3>{{footer.phone}}</h3>
          <h3>{{footer.email}}</h3>
        </div>
        <img class="logo" src="{% static 'images/mUSA.png' %}" alt="" />
      </div>
    </div>
    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "navbar") {
          x.className += " responsive";
        } else {
          x.className = "navbar";
        }
      }
    </script>
  </body>
</html>
