{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/TestStyles.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="row">
      <img
        class="center-piece"
        src="{% static 'images/placeholder.jpeg' %}"
        alt=""
      />
    </div>
    <div class="page absolute">
      <div class="navbar">
        <div>
          <img
            class="nav-logo"
            src="{% static 'images/core_logo.png'%}"
            alt=""
          />
        </div>
        <div class="nav-tabs">
          <a class="nav-tab" href="{% url 'home' %}">Home</a>
          <a class="nav-tab" href="{% url 'browse' %}">Browse</a>
          <a class="nav-tab nav-tab-active" href="{% url 'about' %}">About</a>
        </div>
      </div>

      <div class="wrapper">
        <div class="container">
          <div class="about-text">
            <h1>About Us</h1>
          </div>
          <div class="spacer"></div>
          <div class="profile-container">
            <img
              class="about-profile"
              src="{% static 'images/Profile.jpg'%}"
              alt=""
            />
          </div>
          <div class="spacer"></div>
          <div class="about-text">
            <h2>Company Story</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div class="spacer"></div>
            <h2>Who We Are</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div class="spacer"></div>
            <h2>What We Aim For</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>

      <div class="footer">
        <img class="logo" src="{% static 'images/core_logo.png'%}" alt="" />
        <div>
          <h1>Contact Us!</h1>
          <p>-------------</p>
          <h3>229 Water Street, Maben, MS 39750</h3>
          <h3>662-634-3015</h3>
          <h3>corefurniture@corefurniture.com</h3>
        </div>
        <img class="logo" src="{% static 'images/MI-USA.png' %}" alt="" />
      </div>
    </div>
  </body>
</html>
