{%load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/TestStyles.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="page">
      <div class="row">
        <img
          class="center-piece"
          src="{% static 'images/placeholder.jpeg' %}"
          alt=""
        />
      </div>
      <div id="row1">
        <div class="row absolute">
          <div class="row item-card">
            <div>
              <img class="image" src="{% static 'images/pinkchair1.png' %}" alt="" />
            </div>
            <div class="card-info">
              <h2>In-Stock: ____</h2>
              <h1>Pink Chair</h1>
              <h3>Some text goes here but I'm not too sure yet</h3>
            </div>
          </div>
          <div class="row item-card">
            <div>
              <img class="image" src="{% static 'images/greychair1.png' %}" alt="" />
            </div>
            <div class="card-info">
              <h2>In-Stock: ____</h2>
              <h1>Pink Chair</h1>
              <h3>Some text goes here but I'm not too sure yet</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row2">
        <div class="row absolute">
          <div class="row item-card">
            <div>
              <img class="image" src="{% static 'images/unicornchair1.png' %}" alt="" />
            </div>
            <div class="card-info">
              <h1>Unicorn Chair</h1>
              <h3>Some text goes here but I'm not too sure yet</h3>
            </div>
          </div>
          <div class="row item-card">
            <div>
              <img class="image" src="{% static 'images/owlchair1.png' %}" alt="" />
            </div>
            <div class="card-info">
              <h1>Owl Chair</h1>
              <h3>Some text goes here but I'm not too sure yet</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row2">
        <div class="row absolute">
          <div class="row item-card">
            <div>
              <img class="image" src="{% static 'images/blackchair1.png' %}" alt="" />
            </div>
            <div class="card-info">
              <h1>Black Chair</h1>
              <h3>Some text goes here but I'm not too sure yet</h3>
            </div>
          </div>
          <div class="row item-card">
            <div>
              <img class="image" src="{% static 'images/tanchair1.png' %}" alt="" />
            </div>
            <div class="card-info">
              <h1>Pink Chair</h1>
              <h3>Some text goes here but I'm not too sure yet</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row2">
        <div class="row absolute">
          <div class="row item-card">
            <div>
              <img class="image" src="{% static 'images/kidssectional.png' %}" alt="" />
            </div>
            <div class="card-info">
              <h1>Pink Chair</h1>
              <h3>Some text goes here but I'm not too sure yet</h3>
            </div>
          </div>
          <div class="row item-card">
            <div>
              <img class="image" src="{% static 'images/greychair1.png' %}" alt="" />
            </div>
            <div class="card-info">
              <h1>Pink Chair</h1>
              <h3>Some text goes here but I'm not too sure yet</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row2">
        <div class="row absolute">
          <div class="row item-card">
            <div>
              <img class="image" src="{% static 'images/pinkchair1.png' %}" alt="" />
            </div>
            <div class="card-info">
              <h1>Pink Chair</h1>
              <h3>Some text goes here but I'm not too sure yet</h3>
            </div>
          </div>
          <div class="row item-card">
            <div>
              <img class="image" src="{% static 'images/greychair1.png' %}" alt="" />
            </div>
            <div class="card-info">
              <h1>Pink Chair</h1>
              <h3>Some text goes here but I'm not too sure yet</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row2">
        <div class="row absolute">
          <div class="row item-card">
            <div>
              <img class="image" src="{% static 'images/pinkchair1.png' %}" alt="" />
            </div>
            <div class="card-info">
              <h1>Pink Chair</h1>
              <h3>Some text goes here but I'm not too sure yet</h3>
            </div>
          </div>
          <div class="row item-card">
            <div>
              <img class="image" src="{% static 'images/greychair1.png' %}" alt="" />
            </div>
            <div class="card-info">
              <h1>Pink Chair</h1>
              <h3>Some text goes here but I'm not too sure yet</h3>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </body>
</html>
