{%load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <title>Browse</title>
  </head>
  <body>
    <div class="row">
      <img
        class="center-piece"
        src="{% static 'images/BrowseBG.jpg' %}"
        alt=""
      />
    </div>

    <div class="page absolute">
      <div class="navbar">
        <div>
          <img
            class="nav-logo"
            src="{% static 'images/core_logo.png'%}"
            alt=""
          />
        </div>
        <div class="nav-tabs">
          <a class="nav-tab" href="{% url 'home' %}">Home</a>
          <a class="nav-tab nav-tab-active" href="{% url 'browse' %}">Browse</a>
          <a class="nav-tab" href="{% url 'about' %}">About</a>
          <a class="nav-tab" href="{% url 'testimonials' %}"> Testimonials </a>
        </div>
      </div>

      <div class="category-sec">
        <!--jnsdkjfksdfjsjkdfkjsdf-->
        {% for category in browse_categories %}
          <div class="category">
            <h1 class="cat-header">{{category.category_name}}</h1>
            <a class="cat-hot" href="{{category.category_name}}/"> Browse! </a>
          </div>
          {% endfor %}
        <!--fskdfksfkskdfknjsdkfds-->
      </div>

      <div class="footer">
        <img class="logo" src="{% static 'images/core_logo.png'%}" alt="" />
        <div>
          <h1>Contact Us!</h1>
          <h3>{{footer.address}}</h3>
          <h3>{{footer.phone}}</h3>
          <h3>{{footer.email}}</h3>
        </div>
        <img class="logo" src="{% static 'images/mUSA.png' %}" alt="" />
      </div>
    </div>
  </body>
</html>
