{%load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/TestStyles.css' %}" />
    <title>Browse</title>
  </head>
  <body>
    <div class="page">
      <div class="row">
        <img
          class="center-piece"
          src="{% static 'images/placeholder.jpeg' %}"
          alt=""
        />
      </div>
      <div class="navbar absolute">
        <div>
          <img class="logo" src="{% static 'images/core_logo.png'%}" alt="" />
        </div>
        <div class="nav-tabs">
          <a class="nav-tab" href="{% url 'home' %}">Home</a>
          <a class="nav-tab" href="{% url 'browse' %}">Browse</a>
          <a class="nav-tab" href="{% url 'about' %}">About</a>
        </div>
      </div>
      <div class="category-sec absolute">
        <!--jnsdkjfksdfjsjkdfkjsdf-->
        <div class="item-card">
          <button>
            <a href="Living Room Furniture/">Living Room Furniture</a>
          </button>
        </div>
        <div class="item-card">
          <button><a href="Accent Furniture/">Accent Furniture</a></button>
        </div>
        <div class="item-card">
          <button><a href="Kids Furniture/">Kids Furniture</a></button>
        </div>
        <!--fskdfksfkskdfknjsdkfds-->
      </div>
    </div>
  </body>
</html>
