{%load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/TestStyles.css' %}" />
    <title>Browse</title>
  </head>
  <body>
    <div class="page">
      <div class="row">
        <img
          class="center-piece"
          src="{% static 'images/placeholder.jpeg' %}"
          alt=""
        />
      </div>
      <div class="navbar absolute">
        <div>
          <img class="logo" src="{% static 'images/core_logo.png'%}" alt="" />
        </div>
        <div class="nav-tabs">
          <a class="nav-tab" href="{% url 'home' %}">Home</a>
          <a class="nav-tab nav-tab-active" href="{% url 'browse' %}">Browse</a>
          <a class="nav-tab" href="{% url 'about' %}">About</a>
        </div>
      </div>
      <div class="category-sec absolute">
        <!--jnsdkjfksdfjsjkdfkjsdf-->
        <div class="category">
          <h1 class="cat-header">Living Room Furniture</h1>
          <a class="cat-hot" href="Living Room Furniture/"> Browse! </a>
        </div>
        <div class="category">
          <h1 class="cat-header">Accent Furniture</h1>
          <a class="cat-hot" href="Accent Furniture/"> Browse! </a>
        </div>
        <div class="category">
          <h1 class="cat-header">Kid's Furniture</h1>
          <a class="cat-hot" href="Kid's Furniture/"> Browse! </a>
        </div>
        <div class="category">
          <h1 class="cat-header">Chaise/Lounger</h1>
          <a class="cat-hot" href="Chaise&Lounger/"> Browse! </a>
        </div>
        <!--fskdfksfkskdfknjsdkfds-->
      </div>
    </div>
  </body>
</html>
