<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="secondary">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"> Core Furniture</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">For Kids</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </div>
    <div
      class="jumbotron text-center"
      style="
        background-color: rgba(0, 0, 255, 0.788);
        color: white;
        margin-top: 3.5%;
      "
    >
      <h1>Core Furniture</h1>
      <p>Short company quote</p>
    </div>
    <div class="container">
      <div class="justify-content-center">
        <div
          class="col-md-3 card border border-dark"
          style="padding-top: 2em; padding-bottom: 2em"
        >
          <a href="/ItemPage.html" style="text-decoration: none">
            <img src="static/images/chair.png" style="width: 100%" alt="" />
            <div class="caption text-center">
              <h1>Couch</h1>
              <p>Heres some text...</p>
            </div>
          </a>
        </div>
        <div
          class="col-md-3 card border border-dark"
          style="padding-top: 2em; padding-bottom: 2em"
        >
          <a href="/ItemPage.html" style="text-decoration: none">
            <img src="images/chair.png" style="width: 100%" alt="" />
            <div class="caption text-center">
              <h1>Couch</h1>
              <p>Heres some text...</p>
            </div>
          </a>
        </div>
        <div
          class="col-md-3 card border border-dark"
          style="padding-top: 2em; padding-bottom: 2em"
        >
          <a href="/ItemPage.html" style="text-decoration: none">
            <img src="images/chair.png" style="width: 100%" alt="" />
            <div class="caption text-center">
              <h1>Couch</h1>
              <p>Heres some text...</p>
            </div>
          </a>
        </div>
        <div
          class="col-md-3 card border border-dark"
          style="padding-top: 2em; padding-bottom: 2em"
        >
          <a href="/ItemPage.html" style="text-decoration: none">
            <img src="images/chair.png" style="width: 100%" alt="" />
            <div class="caption text-center">
              <h1>Couch</h1>
              <p>Heres some text...</p>
            </div>
          </a>
        </div>
        <div
          class="col-md-3 card border border-dark"
          style="padding-top: 2em; padding-bottom: 2em"
        >
          <a href="/ItemPage.html" style="text-decoration: none">
            <img src="images/chair.png" style="width: 100%" alt="" />
            <div class="caption text-center">
              <h1>Couch</h1>
              <p>Heres some text...</p>
            </div>
          </a>
        </div>
        <div
          class="col-md-3 card border border-dark"
          style="padding-top: 2em; padding-bottom: 2em"
        >
          <a href="/ItemPage.html" style="text-decoration: none">
            <img src="images/chair.png" style="width: 100%" alt="" />
            <div class="caption text-center">
              <h1>Couch</h1>
              <p>Heres some text...</p>
            </div>
          </a>
        </div>
        <div
          class="col-md-3 card border border-dark"
          style="padding-top: 2em; padding-bottom: 2em"
        >
          <a href="/ItemPage.html" style="text-decoration: none">
            <img src="images/chair.png" style="width: 100%" alt="" />
            <div class="caption text-center">
              <h1>Couch</h1>
              <p>Heres some text...</p>
            </div>
          </a>
        </div>
        <div
          class="col-md-3 card border border-dark"
          style="padding-top: 2em; padding-bottom: 2em"
        >
          <a href="/ItemPage.html" style="text-decoration: none">
            <img src="images/chair.png" style="width: 100%" alt="" />
            <div class="caption text-center">
              <h1>Couch</h1>
              <p>Heres some text...</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="bg-info fixed-bottom" style="width: 100%">
      <div class="container">
        <h2 class="text-center text-muted">Company info</h2>
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h3>Links:</h3>
            <p>Company Email</p>
            <p>Company address</p>
            <p>Company Phone</p>
            <p>Company Legals</p>
          </div>

          <div class="col-lg-6 text-center">
            <h3>Socials:</h3>
            <p>Company Instagram</p>
            <p>Company Facebook</p>
            <p>Company Twitter</p>
            <p>Company Linkedin</p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
