{% load static %}
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/CustomeStyles.css' %}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="body-bg">
      <div class="navbar navbar-fixed-top nb-bg">
        <div class="container-fluid">
          <div class="navbar-header">
            <img class="logo" src="{% static 'images/core_logo.png'%}" alt="" />
          </div>
          <ul class="nav navbar-nav dark-text">
            <li class="active"><a href="{% url 'home3' %}">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">For Kids</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
      </div>
      <div class="container py-3" style="margin-top: 4%"></div>

      <div class="container" style="width: 100%">
        <div class="row">
          <div class="col-md-2 catalog-item hover-zoom">
            <a href="{% url 'itemPage' %}" style="background-color: white">
              <img
                class="catalog-image"
                src="{% static 'images/pchair.png' %}"
                alt=""
              />
            </a>
          </div>
          <div class="col-md-2 catalog-item">
            <a href="{% url 'itemPage' %}" style="background-color: white">
              <img
                class="catalog-image"
                src="{% static 'images/pchair.png' %}"
                alt=""
              />
            </a>
          </div>
          <div class="col-md-2 catalog-item">
            <a href="{% url 'itemPage' %}" style="background-color: white">
              <img
                class="catalog-image"
                src="{% static 'images/pchair.png' %}"
                alt=""
              />
            </a>
          </div>
          <div class="col-md-2 catalog-item">
            <a href="{% url 'itemPage' %}" style="background-color: white">
              <img
                class="catalog-image"
                src="{% static 'images/pchair.png' %}"
                alt=""
              />
            </a>
          </div>
          <div class="col-md-2 catalog-item">
            <a href="{% url 'itemPage' %}" style="background-color: white">
              <img
                class="catalog-image"
                src="{% static 'images/pchair.png' %}"
                alt=""
              />
            </a>
          </div>
          <div class="col-md-2 catalog-item">
            <a href="{% url 'itemPage' %}" style="background-color: white">
              <img
                class="catalog-image"
                src="{% static 'images/pchair.png' %}"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
      <div class="fixed-bottom footer" style="margin-top: 2%">
        <div class="container" style="width: 100%">
          <h2 class="text-center">Company info</h2>
          <div class="row">
            <div class="col-lg-6 text-center">
              <h3>Links:</h3>
              <p>Company Email</p>
              <p>Company address</p>
              <p>Company Phone</p>
              <p>Company Legals</p>
            </div>

            <div class="col-lg-6 text-center">
              <h3>Socials:</h3>
              <p>Company Instagram</p>
              <p>Company Facebook</p>
              <p>Company Twitter</p>
              <p>Company Linkedin</p>
            </div>
          </div>
          <div class="container" style="margin-top: 2%"></div>
        </div>
      </div>
    </div>
  </body>
</html>
