{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href={% static 'css/TestStyles.css' %} />
    <title>Document</title>
  </head>
  <body>
    <div class="page">
      <div class="row">
        <img
          class="center-piece"
          src="{% static 'images/background.png' %}"
          alt=""
        />
      </div>
      <div class="home-piece">
        <img
          class="home-logo"
          src="{% static 'images/core_logo.png' %}"
          alt=""
        />
        <div class="home-options">
          <a class="hot" href="/about"> About </a>
          <a class="hot" href="/browse"> Browse</a>
        </div>
      </div>
    </div>
  </body>
</html>
