{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'images/core_logo.png'%}"
    />
    <title>Items</title>
  </head>
  <body>
    <div class="row">
      <img
        class="center-piece"
        src="{% static 'images/ItemsBG.jpg' %}"
        alt=""
      />
    </div>
    <div class="page absolute">
      <div class="navbar">
        <div>
          <img
            class="nav-logo"
            src="{% static 'images/core_logo.png'%}"
            alt=""
          />
        </div>
        <div class="nav-tabs">
          <a class="nav-tab" href="{% url 'home' %}">Home</a>
          <a class="nav-tab" href="{% url 'browse' %}">Browse</a>
          <a class="nav-tab" href="{% url 'about' %}">About</a>
          <a class="nav-tab" href="{% url 'testimonials' %}"> Testimonials </a>
        </div>
      </div>
      <h1 class="category-text" style="font-size: 3em; padding-bottom: 0.5em">
        {{category}}
      </h1>

      <div class="item-wrapper">
        {% for item in content %}
        <div class="item-card">
          <p class="card-info category-text">{{item.item}}</p>
          <img class="image" src="{{item.image.url}}" />
        </div>
        {% endfor %}
      </div>
      <div class="footer">
        <img class="logo" src="{% static 'images/core_logo.png'%}" alt="" />
        <div>
          <h1>Contact Us!</h1>
          <p>-------------</p>
          <h3>{{footer.address}}</h3>
          <h3>{{footer.phone}}</h3>
          <h3>{{footer.email}}</h3>
        </div>
        <img class="logo" src="{% static 'images/mUSA.png' %}" alt="" />
      </div>
    </div>
  </body>
</html>
