{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"> Core Furniture</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active">
            <a href="{% url 'home3' %}">Home</a>
          </li>
          <li><a href="#">About</a></li>
          <li><a href="#">For Kids</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </div>

    <div class="bg-white" style="margin-top: 3.4%">
      <div class="row">
        <div class="col-lg-2" style="justify-content: center">
          <h2><button>Hello!</button></h2>
          <h2><button>Hello!</button></h2>
          <h2><button>Hello!</button></h2>
          <h2><button>Hello!</button></h2>
          <h2><button>Hello!</button></h2>
          <h2><button>Hello!</button></h2>
          <h2><button>Hello!</button></h2>
        </div>

        <div class="col-lg-4">
          <img src="{% static 'images/chair.png' %}" alt="" />
          <div class="row">
            <button>Angle 1</button>
            <button>Angle 2</button>
            <button>Angle 3</button>
            <button>Angle 4</button>
            <button>Angle 5</button>
            <button>Angle 6</button>
          </div>
        </div>

        <div class="col-lg-6 text-center column">
          <h1>Pink Rocker White Polka:</h1>
          <h3>
            This Item Is Quite literally... Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit
            esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </h3>
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <h3>Materials:</h3>
                <button>Cotton</button>
                <button>Nylon</button>
                <button>Polyester</button>
              </div>

              <div class="col-md-3">
                <h3>Sizes:</h3>
                <p>Kiddy</p>
                <p>Small</p>
                <p>Medium</p>
                <p>Large</p>
                <p>Hulk</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <h1>Some more stuff goes here.. probably</h1>
      <div class="row">
        <div class="col-md-4">
          <h3>Rixhard wuz here</h3>
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do..
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do...
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do...
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          </p>
        </div>
        <div class="col-md-4">
          <h3>Jacen isn't home</h3>
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do..
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do...
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          </p>
        </div>
        <div class="col-md-4">
          <h3>Dylan has selective.. everything</h3>
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do...
            selective hearing... Lorem ipsum dolor sit amet, consectetur
            adipiscing elit, sed do
          </p>
        </div>
      </div>
    </div>
    <div class="bg-info fixed-bottom" style="width: 100%">
      <div class="container">
        <h2 class="text-center text-muted">Company info</h2>
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h3>Links:</h3>
            <p>Company Email</p>
            <p>Company address</p>
            <p>Company Phone</p>
            <p>Company Legals</p>
          </div>

          <div class="col-lg-6 text-center">
            <h3>Socials:</h3>
            <p>Company Instagram</p>
            <p>Company Facebook</p>
            <p>Company Twitter</p>
            <p>Company Linkedin</p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
